# ignore all in this folder
/*

# except for the files
!.gitignore
!README.txt

#################################
### settings for ###
### sem1_zjazd5_26_11_2020 ###
#################################
# except for the folder
!/sem1_zjazd5_26_11_2020/
#################################


# */ - ignore, ! - except for

#################################
### settings for ###
### sem1_zjazd8_09_01_2021/ ###
#################################
# except for the folder
!/sem1_zjazd8_09_01_2021/
# ignore all files in /sem1_zjazd8_09_01_2021/
/sem1_zjazd8_09_01_2021/*
# except for README.md and my-app/
!/sem1_zjazd8_09_01_2021/README.md
!/sem1_zjazd8_09_01_2021/my-app/
# ignore all files in my-app/
/sem1_zjazd8_09_01_2021/my-app/*
# except for src/
!/sem1_zjazd8_09_01_2021/my-app/src
# except for package.json and package-lock.json
!/sem1_zjazd8_09_01_2021/my-app/package.json
!/sem1_zjazd8_09_01_2021/my-app/package-lock.json
# ignore all files in src/
/sem1_zjazd8_09_01_2021/my-app/src/*
# except for App.js, App.css, and todo_components/
!/sem1_zjazd8_09_01_2021/my-app/src/App.js
!/sem1_zjazd8_09_01_2021/my-app/src/App.css
!/sem1_zjazd8_09_01_2021/my-app/src/TAGS
!/sem1_zjazd8_09_01_2021/my-app/src/todo_components/
#################################


#################################
### settings for ###
### sem2_zjazd2_20_03_2021/ ###
#################################
!sem2_zjazd2_20_03_2021/
sem2_zjazd2_20_03_2021/my-app/node_modules/*


