table {
    table-layout: fixed ;
    width: 50%;
}

thead {
    text-align: left;
}

td.taskDesc {
    width: 50%;
}

td.status {
    width: 20%;
}

td.remBut {
    width: 30%;
}

th.taskDesc {
    width: 50%;
}

th.status {
    width: 20%;
}

th.remBut {
    width: 30%;
}

.TodoList {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 20px 20px;
    box-shadow: 5px 10px 20px gray;
}
